*{
  margin: 0;
  padding: 0;
}
body{
  /* background-color: rgb(164, 225, 232); */
  background-color: #05e61f8a;
}
h1{
  text-align: center;
  margin-bottom: 20px;
}
.pokedex-container{
  display: flex;
  margin: auto;
  max-width: 800px;
  min-width: 325px;
  text-align: center;
}
.pokedex-front{
  background-image: url('./components/images/pokedex-front.svg') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 500px;
  width: 400px;
  position: relative;
}
.img-container{
  width: 265px;
  height: 220px;
  margin: auto;
  position: relative;
  top:110px;
}
.img-container img{
  object-fit: contain;
  width: 80%;
  height: 100%;
}
input[type="text"]{
  position: relative;
  top: 90px;
  right: 25px;
  box-sizing: border-box;
  padding: 6px 25px;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
}
::placeholder { color: black; }

input[type='button']{
  box-sizing:content-box;
  width: 60px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(146, 146, 202);
  position: relative;
  left: 120px;
  cursor: pointer;
}

.pokedex-back{
  background-image: url('./components/images/pokedex-back.svg') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 500px;
  position: relative;
  top: -11px;
  max-width: 400px;
  width: 90%;
}
table {
  width: 200px;
  border: 1px solid #000;
  border-collapse: collapse;
  margin: auto;
  position: relative;
  top: 150px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.681);
}
th, td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid rgba(0, 0, 0, 0.61);
  padding: 0.3em;
  text-align: left;
  padding: 10px;
}
th{
  width: 150px;
  background-color: #DE59B1;
}
td{
  width: 50px;
  text-align: center;
  background-color: #8066FF;
}


@media screen and (max-width:780px){ 

  h1{
    margin: 0;
  }
  .img-container{
    max-width: 200px;
    height: 180px;
    margin: auto;
    position: relative;
    top:140px;
  }
  .pokedex-front{
    top: -20px;
    width: 300px;
  }
  .pokedex-back{
    top: -110px;
    width: 300px;
  }
  .pokedex-container{
    flex-direction: column;
    align-items: center;
  }
  .img-container{
    max-width: 200px;
    height: 180px;
    margin: auto;
    position: relative;
    top:140px;
  }
  input[type='text']{
    top:70px;
  }
  input[type='button']{
    left: 100px;
    bottom: 10px;
  }
}
